# Dependency directories
node_modules/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and debug files
npm-debug.log*
yarn-debug.log*

# VS Code Extensions
.qodo/

# Local raw data
data/raw/kanji_jlpt_only.json
data/raw/jmdict-eng-common-3.6.2.json