# Dependency directories
node_modules/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and debug files
npm-debug.log*
yarn-debug.log*

# VS Code Extensions
.qodo/

# Local raw data
data/raw

# Local processed data
data/processed