# Dependency directories
node_modules/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and debug files
npm-debug.log*
yarn-debug.log*

# VS Code Extensions
.qodo/

# Data Output
data/raw/kanji-list.json
data/raw/n4-vocab.json
data/raw/jmdict-eng-common-3.6.2.json